body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background: url('https://i.ibb.co/St0nzt2/1720090591665.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.welcome-container {
    text-align: center;
    background-color: transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
   font-family: serif;
   font-weight: bold;
    
    margin-bottom: 20px;
}

.explore-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #332;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.explore-button:hover {
    background-color: #45a049;
}